@model IEnumerable<WebApplication3.Models.ReportIII_Result>


<h2>ReportIII</h2>

<table class="table">
    <tr>
        <th>
            <h5><b>Genre Name </b></h5>
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
</tr>
}

</table>
