@{
    ViewBag.Title = "About";
}
<h2>About Page</h2>

<p>
    This web application is part of a project for our Data Bases Class.<br />
    Our team consists of: <br />
    Aggeliki Yioti  <strong>E18037</strong><br />
    Elisavet Konstantopoulou  <strong>E18086</strong><br />
    Nomiki Parginou  <strong>E18130</strong>
</p>
