@{
    ViewBag.Title = "Contact";
}

<h3><b>Our Contact Emails<b/></h3>

<address>
    <strong>Αγγελική Γιώτη:</strong>   <a href="mailto:aggelikiyioti@gmail.com">aggelikiyioti@gmail.com</a><br />
    <strong>Ελισάβετ Κωνσταντοπούλου:</strong> <a href="mailto:eliskonstantopoulou@gmail.com">eliskonstantopoulou@gmail.com</a><br />
    <strong>Νομική Παργινού:</strong>   <a href="mailto:nomikiparginou@gmail.com">nomikiparginou@gmail.com</a><br />
</address>