
<h4>Please input year to show Sales for :</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <head>
        <title>Input For ReportIV</title>
    </head>
    <body>
        <form method="post">
            <fieldset>
                <div>
                    <label for="Year">Year :</label>
                    <input type="number" name="Year" min="2009" max="2014" value="2009" />
                </div>
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </fieldset>
        </form>
    </body>
}