@model WebApplication3.Models.Track

@{
    ViewBag.Title = "InputReportII";
}

<h2>Please input for which period of time you wish to show top 10 songs :</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <head>
        <title>Input Form</title>
    </head>
    <body>
        <form method="post">
            <fieldset>
                <div>
                    <label for="BeginDate">Begin Date:</label>
                    <input type="date" id="start" name="BeginDate"
                           value="2009-01-01"
                           min="2009-01-01" max="2014-12-31">
                </div>
                <div>
                    <label for="EndDate">EndDate:</label>
                    <input type="date" id="end" name="EndDate"
                           value="2009-01-01"
                           min="2009-01-01" max="2014-12-31">
                </div>
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </fieldset>
        </form>
    </body>
}
<div>
    @Html.ActionLink("Back to Home", "Index")
</div>