@model IEnumerable<WebApplication3.Models.ReportI_Result>


<h2>Report I</h2>


<table class="table">
    <tr>
        <th>
            <h5><b>Artist Name</b></h5>
        </th>>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
</tr>
}
</table>
